@import '~bootstrap/dist/css/bootstrap.min.css';
*{
    overflow-y: auto;
}
.wrapper-body{
    display: flex;
    justify-content: space-around;
    align-content: center;
    overflow-y: auto;
}
.list-group-item{
    justify-content: center;
    align-content: center;
}