<div class="wrapper">
    <div class="wrapper-header">
        <div class="left-icon" (click)="menuOpen()">
            <img src="../../assets/icon/icon_menu.png" alt="menu open" />
        </div>
        <p>COVID-19 Updates</p>
    </div>
    <div class="wrapper-body">
        <div class="heading-bar">
            All over India
        </div>
        <div class="card-holder">
            <div class="card-primary">
                <p class="count">{{update?.overview?.active}}</p>
                <p class="count-tag">Total Cases</p>
            </div>
            <div class="card-primary">
                <p class="count">{{update?.overview?.deaths}}</p>
                <p class="count-tag">Deaths</p>
            </div>
            <div class="card-primary">
                <p class="count">{{update?.overview?.discharged}}</p>
                <p class="count-tag">Cured/ Discharged</p>
            </div>
            <div class="card-primary">
                <p class="count">{{update?.overview?.migrated}}</p>
                <p class="count-tag">Migrated</p>
            </div>
        </div>
        <div class="heading-bar">
            In States
        </div>
        <div class="card-holder">
            <div *ngFor="let state of update?.state_wise_list" class="card-secondry">
                <p class="state-name">{{state.state_name}}</p>
                <div class="details">
                    <div class="row">
                        <p class="key">Total</p>
                        <p class="value">{{state.confirmed}}</p>
                    </div>
                    <div class="row">
                        <p class="key">Deaths</p>
                        <p class="value">{{state.deaths}}</p>
                    </div>
                    <div class="row">
                        <p class="key">Cured</p>
                        <p class="value">{{state.cured}}</p>
                    </div>
                    <!--<div class="row">
                        <p class="key">Foreign</p>
                        <p class="value">{{state.foreign}}</p>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>